body, html {
    max-width: 100%;
    overflow-x: hidden;
}


.rounded-img-custom {
    border-radius: 50%; /* or any value between .25rem and 50% */
}


#carouselInterests {
    overflow: hidden;
    border-radius: 1rem; 
    border: 1px solid rgba(0, 0, 0, 0.299);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
}

/* Border for carousel control buttons */
.carousel-control-prev-icon, .carousel-control-next-icon {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%; /* Optional: makes the buttons circular */
}


.navbar-brand img {
    height: 2em; /* Image height is slightly less than the navbar height */
}

html {
    font-size: 18px;
}

#downloadButton {
    border: solid 1px #70dee6;
    border-radius: 1rem;
}

/*  styles for medium screens and up */
@media (max-width: 576px) {
    html {
        font-size: 16px;
    }
    nav {
        font-size: 0.7rem;
    }
}

/*  styles for medium screens and up */
@media (min-width: 768px) {
    html {
        font-size: 24px;
    }
    nav {
        font-size: 0.7rem;
    }
}

/*  styles for medium screens and up */
@media (min-width: 992px) {
    html {
        font-size: 26px;
    }
    nav {
        font-size: 0.7rem;
    }
}